<div class="error" *ngIf="errorService.isShow$ | async">
    <span *ngIf="errors?.required">
        Поле не заполнено
    </span>
    <span *ngIf="errors?.minlength">
        Значение должно быть больше или равно {{ errors?.minlength.requiredLength }}
    </span>
    <span *ngIf="errors?.maxlength">
        Значение должно быть меньше или равно {{ errors?.maxlength.requiredLength }}
    </span>

    <span *ngIf="errors?.email">
        Введите верный Email
    </span>

    <span *ngIf="errors?.other">
        {{ errors?.other.text }}
    </span>
</div>