<div class="step">
    <div class="step__title spec-title">{{ step.title }}</div>

    <div class="step__content">
        <app-stepper-item 
            [text]="'Огонь'" 
            [icon]="iconConfig['STEP_8_ICON_1']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'Вода'" 
            [icon]="iconConfig['STEP_8_ICON_2']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'Земля'" 
            [icon]="iconConfig['STEP_8_ICON_3']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'Воздух'" 
            [icon]="iconConfig['STEP_8_ICON_4']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
    </div>
</div>