<div class="daily-forecast wrapper" *ngIf="forecastService.isDaily()">
    <div class="main-title">Ежедневный прогноз</div>

    <div class="daily-forecast__items">
        <app-daily-forecast-item [title]="'Цифра дня'" [value]="'22'"></app-daily-forecast-item>
    </div>
</div>


<div class="no-cash wrapper" *ngIf="forecastService.isNoCash()">
    <div class="content">
        <img class="icon" [src]="imgService.getImg(imgService.paths['WARNING_ONE'])" alt="">
        <div>Пополните баланс, чтобы получить прогноз</div>
    </div>
    <button class="btn">Пополнить</button>
</div>

<div class="no-data wrapper" *ngIf="forecastService.isNoData()">
    <div class="content">
        <img class="icon" [src]="imgService.getImg(imgService.paths['WARNING_TWO'])" alt="">
        <div>Вы не ответили на вопросы</div>
    </div>
    <button class="btn" (click)="onSettings()">Ответить</button>
</div>