<!-- todo Как будто лайны похожи, мб можно как-то вынести в отдельный компонент -->
<div class="first-line">
  <div class="first-line__info">
    <div class="first-line__title main-title">
      Откройте тайны своего дня
    </div>
    <div class="first-line__text main-text">
      С нашими точными астрологическими прогнозами 
      и нумерологическими расчетами
    </div>
    <button class="btn" (click)="modalService.showDlg(dlgTypes.login)">Войти</button>
  </div>
  <div class="first-line__img">
    <img 
      [src]="imgService.getImg(imgService.paths['HANDS'])" 
      alt="Numerology img one"
    >
  </div>
</div>

<div class="second-line withe-bg">
  <div class="second-line__wrapper">
    <div class="second-line__img">
      <img 
        [src]="imgService.getImg(imgService.paths['LOTUS_POSE'])" 
        alt="Numerology img lotus pose"
      >
    </div>
    <div class="second-line__info">
      <div class="second-line__title main-title">
        Познайте своё будущее здесь и сейчас
      </div>
      <div class="second-line__text main-text">
        Ежедневные прогнозы и персональные нумерологические советы
      </div>
      <button class="btn extended-btn" (click)="modalService.showDlg(dlgTypes.login)">Получить прогноз</button>
    </div>
  </div>
</div>

<div class="first-line">
  <div class="first-line__info">
    <div class="first-line__title main-title">
      Узнайте, что звёзды приготовили для вас сегодня 
    </div>
    <div class="first-line__text main-text">
      прогнозы на день и уникальные 
      нумерологические расчеты
    </div>
    <button class="btn extended-btn">Получить прогноз-2</button>
  </div>
  <div class="first-line__img">
    <img 
      [src]="imgService.getImg(imgService.paths['LOTUS_POSE_TWO'])"  
      alt="Numerology img lotus pose"
    >
  </div>
</div>

<div class="second-line special-bg withe-text">
  <div class="second-line__wrapper">
    <div class="second-line__img">
      <img 
        [src]="imgService.getImg(imgService.paths['HANDS_TWO'])" 
        alt="Numerology img two"
      >
    </div>
    <div class="second-line__info">
      <div class="second-line__title main-title withe-text">
        Загляните в завтрашний день уже сегодня 
      </div>
      <div class="second-line__text main-text withe-text">
        с нашими детализированными астропрогнозами и 
        нумерологическими анализами.
      </div>
      <button class="btn extended-btn white-btn" (click)="modalService.showDlg(dlgTypes.registration)">Зарегистрироваться</button>
    </div>
  </div>
</div>

<app-modal-auth *ngIf="modalService.isShow$ | async"></app-modal-auth>