.stepper {
    min-height: 68vh;

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn-next {
        margin-bottom: 10px;
    }
    
    &__btn-skip {
        background: #FFFFFF;
        color: #000;
    }
}