<div class="stepper">
    <app-stepper-progress-bar class="stepper__progress-bar" [step]="step"></app-stepper-progress-bar>

    <div class="step" [ngStyle]="{'width': step.width}">
        <div class="step__title-wrapper">
            <div class="step__title spec-title">{{ step.title }}</div>
            <div class="tooltip" *ngIf="step.important">
                <img class="tooltip__icon" src="../../../assets/images/warning-one.svg" alt="Обязательный вопрос">
            </div>
        </div>
        <div #view></div>
    </div>

    <div class="stepper__buttons">
        <button 
            class="btn stepper__btn-next" 
            *ngIf="step.btnNext"
            (click)="onNextStep()"
        >Продолжить</button>

        <!-- TODO тут надо будет добаивть логику (по первому варианту данные должны быть заполнены, по второму не обязательно) -->
        <button 
            class="btn stepper__btn-skip" 
            *ngIf="step.btnSkip"
            (click)="stepperService.nextStep()"
        >Пропустить</button>

        <!-- (click)="stepperService.getDailyForecast()" todo swap routerLink on function-->
        <button 
            class="btn stepper__btn-daily-forecast" 
            *ngIf="step.btnDailyForecast"
            routerLink="/forecast"
        >Получить расшифровку</button>
    </div>
</div>