<div class="stepper">
    <app-stepper-progress-bar [step]="step"></app-stepper-progress-bar>

    <div class="stepper__content">    
        <div #view></div>
    </div>

    <div class="stepper__buttons">
        <button 
            class="btn stepper__btn-next" 
            *ngIf="step.btnNext"
            (click)="stepperService.nextStep()"
        >Продолжить</button>

        <!-- TODO тут надо будет добаивть логику (по первому варианту данные должны быть заполнены, по второму не обязательно) -->
        <button 
            class="btn stepper__btn-skip" 
            *ngIf="step.btnSkip"
            (click)="stepperService.nextStep()"
        >Пропустить</button>
    </div>
</div>