<div class="step__content">
    <app-stepper-item 
        [text]="'Мегаполис'" 
        [icon]="iconConfig['STEP_15_ICON_1']"
        [size]="{'width': 200, 'height': 200, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Город у моря'" 
        [icon]="iconConfig['STEP_15_ICON_2']"
        [size]="{'width': 200, 'height': 200, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Отдаленная хижина'" 
        [icon]="iconConfig['STEP_15_ICON_3']"
        [size]="{'width': 200, 'height': 200, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Постоянно переезжать'" 
        [icon]="iconConfig['STEP_15_ICON_4']"
        [size]="{'width': 200, 'height': 200, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
</div>