<div class="step__content">
    <app-stepper-item 
        [text]="'Физический контакт'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Слова одобрения'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Получение подарков'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item
        [text]="'Качественные отношения'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Качества прислуживания'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
</div>