<div class="step__content">
    <app-stepper-item 
        [text]="'Очень часто'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Иногда'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Редко'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Никогда'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
</div>
