<div class="step__content">
    <app-stepper-item 
        [text]="'Овен'"
        [icon]="iconConfig['ARIES']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Телец'"
        [icon]="iconConfig['TAURUS']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Близнецы'"
        [icon]="iconConfig['GEMINI']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Лев'"
        [icon]="iconConfig['LEO']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Рак'"
        [icon]="iconConfig['CANCER']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Весы'"
        [icon]="iconConfig['LIBRA']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Дева'"
        [icon]="iconConfig['VIRGO']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Скорпион'"
        [icon]="iconConfig['SCORPIO']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Стрелец'"
        [icon]="iconConfig['SAGITTARIUS']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Козерог'"
        [icon]="iconConfig['CAPRICOM']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Водолей'"
        [icon]="iconConfig['AQUARIUS']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Рыбы'"
        [icon]="iconConfig['PISCES']"
        [size]="{'width': 170, 'height': 170}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
</div>
