<div class="modal-wrapper">
    <form [formGroup]="authForm" class="modal" (ngSubmit)="submit()">
        <div class="modal__close" (click)="modalService.closeDlg()"></div>
        <div class="modal__title">{{ title }}</div>
        <input 
            type="text"
            [ngClass]="{ 
                'modal__input-email': true, 
                'custom-input-text': true, 
                'custom-input-text__error': errorService.getBorderRed('email')
            }"
            formControlName="email"
            placeholder="Email"
        >

        <div class="modal__input-pass-wrapper">
            <input 
                [attr.type]="passwordType" 
                [ngClass]="{ 
                    'modal__input-pass': true, 
                    'custom-input-text': true, 
                    'custom-input-text__error': errorService.getBorderRed('password')
                }"
                formControlName="password"
                placeholder="Пароль"
            >
            <img 
                class="modal__pass-icon" 
                [src]="this.imgService.getImg(passwordIconPath)" 
                alt="" 
                (click)="onToggleShowPass()"
            >
        </div>

        <div class="modal__switcher">
            <div class="modal__switcher-item" (click)="toggleState(dlgTypes.login)">Вход</div>
            <div class="modal__splitter">/</div>
            <div class="modal__switcher-item" (click)="toggleState(dlgTypes.registration)">Регистрация</div>
        </div>

        <app-error></app-error>
        
        <div *ngIf="isSentConfirmationLink" class="modal__link">
            Ссылка для подтверждения отправлена! Проверьте, пожалуйста, почту!
        </div>

        <!-- todo тут надо вставть текст "Отправить ссылку повторно" (реализовать функционал повторной отправки ссылки) (!) -->
        <button type="submit" class="btn">Продолжить</button>
    </form>
</div>