.custom-input-time {
    width: 210px;
    height: 56px;
    border: none;
    border-radius: 100px;
    padding: 0px 30px;
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 30px bottom 50%;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    font-family: Philosopher;
}