<div class="container">
  <div>
    <div class="header">
      <div class="header__logo">
        <img src="../assets/images/logo.svg" alt="logo">
        <div>
          <div>Астро</div>
          <div>прогноз</div>
        </div>
      </div>

      <div>
        <app-main-button></app-main-button>
      </div>
    </div>

    <!-- Основная страница -->
     <!--
    <app-main-page *ngIf="_isMainPage()"></app-main-page>
  -->
    <!-- Страница первоначальных настроек -->
    <!--
    <div class="setting-wrapper" *ngIf="_isSettingPage()">
      <app-setting-page></app-setting-page>
    </div>
  -->

    <!-- Страница прогноза 
    <app-daily-forecast-page *ngIf="_isDailyForecast()"></app-daily-forecast-page>
-->

    <router-outlet></router-outlet>

    <div class="footer">
      <div class="footer__copyright">© 2024 Астропрогноз</div>
      <div class="footer__menu">
        <div class="footer__menu-item">О проекте</div>
        <div class="footer__menu-item">Пользовательское соглашение</div>
        <div class="footer__menu-item">Язык</div>
      </div>
    </div>
  </div>
</div>

<app-modal-auth *ngIf="authService.isShow$ | async"></app-modal-auth>