.container {
    padding-top: 1.25rem;
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    &__logo {
        display: flex;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
	font-weight: 400;
	line-height: 20px;
    padding: 10px 0;
    &__menu {
        display: flex;
    }

    &__menu-item {
        margin-right: 40px;
    }
}

.setting-wrapper {
    display: flex;
    justify-content: center;
}