<button class="btn" (click)="showRegistrationDlg()" *ngIf="!user">Регистрация</button>

<button class="btn special-btn" *ngIf="user" (click)="onProfile()">
    <!-- todo сюда впилим фото -->
<!--  [src]="imgService.getDefaultUserAvatar()"  -->
    <img class="avatar" [src]="imgService.getDefaultUserAvatar()" alt="Avatar">

    {{ user.email }}
    
    <img 
        class="exit-icon" 
        [src]="imgService.getImg(imgService.paths['EXIT'])"
        alt="Exit" 
        (click)="logout()"
    >
</button>
