<div class="step__content">
    <app-stepper-item 
        [text]="'Финансы'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Карьера'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Любовь'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Здоровье'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Семейная жизнь'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Отношение с друзьями'" 
        [size]="{'width': 270, 'height': 80, 'fontSize': 18}"
        (itemClick)="setTest($event)"
    ></app-stepper-item>
</div>
