<div class="step__content wrapper">
    <div class="sub-title">С помощью расшифровки вы:</div>
    <ul>
        <li>Найдете свое предназначение в этом мире и начнете жить в гармонии с собой.</li>
        <li>Раскроете свои скрытые таланты, которые даны вам при рождении.</li>
        <li>Найдете свои сильные и слабые стороны, чтобы не тратить энергию на ненужные вещи.</li>
        <li>Поймете на 100% как обрести гармонию в отношениях с людьми и в личной жизни.</li>
        <li>Определите все препятствия на пути к богатству и получите стратегию по их устранению.</li>
    </ul>
</div>
