<div class="step__content">
    <app-stepper-item 
        [text]="'Эмоциональный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Логичный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Умный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Искренний'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Взволнованный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Авторитарный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Скрытный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Преданный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Надежный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Переменный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'С эстетическими проблемами'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 15}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Честный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Открыт для инноваций'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Ребенок в душе'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Позитивный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 18}"
    ></app-stepper-item>
    <app-stepper-item 
        [text]="'Пессимистичный'" 
        [size]="{'width': 200, 'height': 80, 'fontSize': 16}"
    ></app-stepper-item>
</div>