<div class="profile">
    <div class="profile__header">
        <div class="profile__title">Профиль</div>
        <button class="btn profile__btn-edit">Редактировать</button>
    </div>

    <div class="profile__content">
        <div class="profile__avatar">

            <!--
            <img class="avatar" src="../../../assets/images/test-ava.avif" alt="Avatar">
        -->
        </div>
        <div class="profile__main-data">
            <div class="profile__data-item">
                <div class="profile__item-name">Ваше имя</div>
                <div class="profile__item-value">Иван</div>
            </div>

            <div class="profile__data-item">
                <div class="profile__item-name">Дата рождения</div>
                <div class="profile__item-value">16.07.1992</div>
            </div>
            <div class="profile__data-item">
                <div class="profile__item-name">Пол</div>
                <div class="profile__item-value">Мужской</div>
            </div>
            <div class="profile__data-item">
                <div class="profile__item-name">Место рождения</div>
                <div class="profile__item-value">Москва</div>
            </div>
            <div class="profile__data-item">
                <div class="profile__item-name">Семейное положение</div>
                <div class="profile__item-value">Не указано</div>
            </div>

        </div>
    </div>

    <button  class="btn profile__main-btn">Получить ежедневный прогноз</button>
</div>
