<div class="profile">
    <div class="profile__header">
        <div class="profile__title">Профиль</div>
        <button class="btn profile__btn-edit" (click)="onSettings()">Редактировать</button>
    </div>

    <div class="profile__content">
        <div class="profile__avatar">
            <img class="avatar" [src]="imgService.getDefaultUserAvatar()" alt="Avatar">
            <div class="avatar__edit-btn">
                <img 
                    class="avatar__edit-icon" 
                    [src]="imgService.getImg(imgService.paths['EDIT_ICON'])" 
                    alt=""
                > 
            </div>
        </div>
        <div class="profile__main-data">
            <div class="profile__data-item">
                <div class="profile__item-name">Ваше имя</div>
                <div class="profile__item-value">{{ user?.name || 'Не указано' }}</div>
            </div>

            <div class="profile__data-item">
                <div class="profile__item-name">Дата рождения</div>
                <div class="profile__item-value">{{ (user?.dateBirth | date: 'dd. MM. yyyy') || 'Не указано' }}</div>
            </div>
            <div class="profile__data-item">
                <div class="profile__item-name">Пол</div>
                <div class="profile__item-value">{{ user?.gender || 'Не указано' }}</div>
            </div>
            <div class="profile__data-item">
                <div class="profile__item-name">Место рождения</div>
                <div class="profile__item-value">{{ user?.placeBirth || 'Не указано' }}</div>
            </div>
            <div class="profile__data-item">
                <div class="profile__item-name">Семейное положение</div>
                <div class="profile__item-value">{{ user?.familyStatus || 'Не указано' }}</div>
            </div>

        </div>
    </div>

    <!-- TODO Сюда добавить логику чтобы не всегда покупать прогноз, а при наличии (отталкиваться от даты покупки) показывать купленный (существующий) -->
    <div class="profile__buttons">
        <button class="btn profile__main-btn" (click)="buyForecast(forecastTypes.DAILY)">
            {{ dailyForecast ? 'Посмотреть ежедневный прогноз' : 'Получить ежедневный прогноз - 10 т.' }}
        </button>

        <!-- TODO временно убрал кнопку (добавить вместе с логикой для еженедельного прогноза)
        <button class="btn profile__main-btn" (click)="buyForecast(forecastTypes.WEEKLY)">
            Получить еженедельный прогноз - 100 т.
        </button>
        -->
    </div>
</div>
