.profile {
    width: 1240px;
    height: 450px;
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__btn-edit {
        color: #A347C4 !important;
        background: #F8F7FB !important;
    }

    &__title {
        font-size: 50px;
    }

    &__content {
        display: flex;
        margin-bottom: 40px;
    }

    &__avatar {
        min-width: 180px;
        min-height: 180px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 1px solid #A347C4;
        margin-right: 40px;
    }

    &__main-data {
        display: flex;
        flex-wrap: wrap;
    }

    &__data-item {
        width: 200px;
        margin: 20px;
    }

    &__item-name {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__item-value {
        font-size: 20px;
        font-weight: 400;
        color: #A347C4;
        text-transform: uppercase;
    }

    &__main-btn {
        width: 530px;
        margin: 0 20px;
    }

    &__buttons {
        display: flex;
    }
}

.avatar {
    position: relative;
    left: 10px;
    top: 10px;

    min-width: 160px;
    min-height: 160px;
    width: 160px;
    height: 160px;
    border-radius: 50%;

    &__edit-btn {
        cursor: pointer;
        position: relative;
        bottom: 20px;
        left: 145px;
    
        min-width: 36px;
        min-height: 36px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #A347C4;
    }

    &__edit-icon {
        position: relative;
        left: 11px;
        top: 3px;
    }
}