<div class="step">
    <div class="step__title">{{ step.title }}</div>

    <div class="step__content">
        <app-stepper-item 
            [text]="'В браке'" 
            [icon]="iconConfig['ICON_1']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'Помолвлен(а)'" 
            [icon]="iconConfig['ICON_2']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'В отношениях'" 
            [icon]="iconConfig['ICON_3']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'Запутано'"
            [icon]="iconConfig['ICON_4']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item
            [text]="'Не в отношениях'" 
            [icon]="iconConfig['ICON_5']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
        <app-stepper-item 
            [text]="'В разводе'" 
            [icon]="iconConfig['ICON_6']"
            [size]="{'width': 200, 'height': 200}"
        ></app-stepper-item>
    </div>
</div>
