<div class="progress-bar">
    <div class="progress-bar__content">
        <div class="progress-bar__btn-back" (click)="stepperService.movePreviousStep()">
            <img 
                class="progress-bar__back-arrow" 
                [src]="imgService.getImg(imgService.paths['BACK_ARROW'])" 
                alt="back-arrow"
            >
            <span class="progress-bar__text">Назад</span>
        </div>
    
        <div class="progress-bar__info">
    
            <!-- TODO как будто много классов нафигачил сюда -->
            <div class="progress-bar__current-step progress-bar__text">{{ step.id }}</div>
            <div class="progress-bar__text">/</div>
            <div class="progress-bar__total-step progress-bar__text">{{ totalCountStep }}</div>
        </div>
    </div>
    
    <div>
        <div class="progress-bar__empity-line"></div>
        <div class="progress-bar__color-line" [ngStyle]="{'width': getProgressBarWidthVH()}"></div>
    </div>
</div>