.progress-bar {
    margin-bottom: 40px;
    width: var(--stepper-progress-bar-width);
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__btn-back {
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }

    &__back-arrow {
        margin-right: 7px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
    }

    &__info {
        display: flex;
    }

    &__empity-line {
        position: absolute;
        height: 6px;
        width: var(--stepper-progress-bar-width);
        border-radius: 10px;
        background-color: #fff;
    }

    &__color-line {
        position: absolute;
        height: 6px; 
        border-radius: 10px;
        background-color: #A347C4;
    }
}